h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

img {  
  display: block;
}

.container {
  max-width: 1158px;
  width: 100%;
  padding-left: 15px;
  padding-right:  15px;
  margin-left: auto;  
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* #region header */

.page-header .container {
display: flex;
justify-content: space-between;
height: 72px;
align-items: center;
border-bottom: 1px solid #e7e9fc
}

.main-logo {
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
}

.page-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 76px;
}

.nav-list {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  padding: 24px 0;

}

.nav-list-link:active {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.nav-link {

}


.accent-black {
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link:active {
  color: #404bbf;
  text-decoration: underline;
}

.main-contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
display: flex;
}

.adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
}

.adress:hover,
.adress:focus {
  color: #404bbf;
}

/* #endregion header */

/* #region solutions */

.main-section .container {
  background-color: #2e2f42;
  padding: 188px 0;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  display: flex;
  margin-bottom: 48px;
}

.main-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

.feature {
padding: 120px 0;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;

}

.feature-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  gap: 24px;

}

.feature-item {
width: calc((100% - 72px) / 4);
}


.subsubtitle {
text-align: center;

}

.feature-text {
margin-bottom: 8px;
}

/* #endregion solution */

/* #region team */

.team {
  background: #f4f4fd;
  display: flex;
  padding: 120px 0;

}

.team-card {
display: flex;
gap: 24px;

}

.team-card-list {
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
padding: 32px 0;
margin-bottom: 8px;
}

.team-text {

}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.menu-card {
  background-color: #fff;
}


.image-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.image-text-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* #endregion team */

/* #region portfolio */

.portfolio .container {
padding: 120px 0 120px 0;

}

.project-card {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}

.section-title {
  line-height: 1.11;
  text-transform: capitalize;
}

.project-card-list {
  background: #fff;
  width: calc((100% - 48px) / 3);
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.portfolio-text {

}

/* #endregion portfolio */

/* #region footer */

.footer .container {
  background: #2e2f42;
  padding: 100px 0;
  height: 312px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.accent-white {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* #endregion footer */



